.search-query{
    border: 1px solid rgba(255, 253, 253, 0.769)!important;
    background-color: rgba(255, 253, 253, 0.769)!important;
    color: #000!important;
    padding-left: 100px;
}
.search{
    background-color: #82ae46;
    padding: 11.5px 35px;
    color: seashell;
    font-size: 16px;
    border: 1px solid #82ae46;
    cursor: pointer;
}
.icone span{
	font-size:30px;
    color:  #82ae46;
	text-align:center;
	line-height: 40px;
}
.text h6{
    margin: 0px;
    font-size:16px;
    font-weight: bold;
}
.text p{
    margin: 0px;
    font-size:12px;
}
.infos-item{
    border: 1px solid  #82ae46;
    padding: 10px;
}
	.titre{
	  font-weight: 800;
	  color: #fff;
	  margin-top: 10px;
      font-size: 20px;
      font-family: "Poppins", Arial, sans-serif;
      letter-spacing: 3px;
      text-transform: uppercase; 
	}